/node_modules
/dist
/.tmp
/.sass-cache
/frontend/bower_components
*.idea
/dump.rdb
/trash
/typings
*.iml
.idea/
*.ipr
*.iws
/out/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
logs
*.log
npm-debug.log*
pids
*.pid
*.seed
lib-cov
.grunt
.lock-wscript
build/Release
node_modules
.idea